[Unit]
Description=Server for Slash Sourcegraph project

[Service]
ExecStart=/usr/bin/java -jar /root/slash-sourcegraph.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target